<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Harsh</title>
  </head>
  <body>
    <h1> About Harsh </h1>
    <p> Skilled Machine Learning Engineer working at Quantiphi. From experimental passion projects to industrial projects at Quantiphi, I’ve had the opportunity to learn and experiment with variety of domains for this dynamic industry. As an aspiring data scientist, I like to delve into publicly available datasets, and apply techniques in machine learning and statistics to extract actionable insights. I am passionate about learning new technologies and apply them to real world projects with a business value.​I thrive on creative challenges and enjoy building strong relationships along the way. I define myself as an individual who constantly challenges the status quo. I strongly believe that humans learn through experiences and exposure. I constantly try to learn new skills, chase excellence and disrupt.</p>
  </body>
</html>
