<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width"/>
	<meta name="description" content="The HTML resume of Harsh Solanki."/>

	<title>Harsh Solanki</title>
	<link rel="stylesheet" type="text/css" rel="stylesheet" href="main.css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="profile.JPG" alt="Harsh Solanki"/>
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Harsh Solanki</h1>
			<h2 class="quickFade delayThree">Machine Learning Engineer</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:hvsolanki27@gmail.com" target="_blank">hvsolanki27@gmail.com</a></li>
				<li>w: <a href="https://www.linkedin.com/in/solankiharsh/">https://www.linkedin.com/in/solankiharsh//</a>
				</li>
				<li>w: <a href="https://www.harshsolanki.com">Link to personal website</a></li>
				<li>m: (+91)-898-228-1909</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>About</h1>
				</div>

				<div class="sectionContent">
					<p> Skilled Machine Learning Engineer working at Quantiphi. From experimental passion projects to industrial projects at Quantiphi, I’ve had the opportunity to learn and experiment with variety of domains for this dynamic industry. As an aspiring data scientist, I like to delve into publicly available datasets, and apply techniques in machine learning and statistics to extract actionable insights. I am passionate about learning new technologies and apply them to real world projects with a business value. 

​I thrive on creative challenges and enjoy building strong relationships along the way. I define myself as an individual who constantly challenges the status quo. I strongly believe that humans learn through experiences and exposure.

I constantly try to learn new skills, chase excellence and disrupt.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Machine Learning Engineer at Quantiphi, Bangalore</h2>
					<p class="subDetails">August 2020 - Present</p>
					<p>  Worked on several projects of Deep Learning and traditional Machine learning involving following techniques :
						<li>  Image Classification & Object Detection : Convolution Neural Networks </li>
						<li>  Speech2Text : Bidirectional LSTM </li>
						<li>  Text Mining : Entity extraction/Tagging </li>
						<li>  Clustering : Kmeans, Hierarchical </li>
						<li>  Optical Character Recognition </li>
						<li>  Classification Algorithms: Random Forest, XGBoost, SVM </li>
						<li>  Regression Analysis: Linear and Logistic Regression </li>
						<p> </p>
Tools:
<li>  Python </li>
<li>  R </li>
<li>  Flask </li>
<p> </p>
Frameworks:
<li>  Tensorflow, Keras </li>
<li>  Sagemaker SDK </li>
<li>  Mxnet, Gluon </li>
<p> </p>
Model Optimizers:
<li>  Sagemaker Neo </li>
<p> </p>
Cloud Platform:
<li>  AWS </li>



						 </p>
				</article>

				<article>
					<h2>Data Analyst at Amazon, Bangalore</h2>
					<p class="subDetails">November 2016 - August 2020</p>
					<p> <li> Work on data requirement of internal stakeholders by writing SQL queries using ETL management tool. 

						<li> Cleaning and rolling out processed data using Power-query.</li>

						<li> Owning and publishing reports.</li>

						<li> Automating report generation in excel VBA.</li>

						<li> Creating and maintaining weekly business reports for both internal and external
stakeholders.</li>

						<li>Consult with stakeholders, both remotely and onsite, to determine processes eligible for automation, understand business issues and recommend solutions to ensure business questions are properly answered.</li>

						<li> Own the design, development, and maintenance of ongoing metrics, reports, analysis and dashboards to drive key business decisions.</li>

						<li> Working on data requirement of internal stakeholder by writing SQL Queries using ETL management tool </li>

						<li> Provided end to end data analytics support for Operations and Program Team with key responsibilities of building ETL Jobs and Excel/Tableau/AWS Qwiksight based dynamic dashboards showcasing compact user friendly synopsis of the key metrics along with insights for the cause and effects of the variations on WOW and MOM reports.</li>

</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Certifications</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>AWS Certified Machine Learning - Specialty</li>
					<li>AWS Concepts</li>
					<li>Building Deep Learning Applications with Keras 2.0</li>
					<li>Databases on AWS for Windows</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Post Graduate Diploma in Data Science and Machine Learning</h2>
					<p>Obtained from The University of Chicago Graham Public School in June 2020</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

	</div>

	<div class="counter">
		<p>Visits: <span id="visits">0</span></p>
	</div>
</div>

<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-3753241-1");
	pageTracker._initData();
	pageTracker._trackPageview();
</script>

<script src="counter.js"></script>

</body>
</html>
